<div class="row">
	<div class="col-md-10 col-md-offset-1">
		
			<% if user_signed_in? %>
				<p class="lead text-center"><%= link_to "Post Code", submit_path, class: 'btn btn-lg btn-warning navbar-btn', method: :get %> and start contributing to the community!</p>
			<% else %>
	
				<div class="page-header">
					<h1><strong><i class="fa fa-code"></i> Chem Code</strong></h1>
				</div>
				<div class="jumbotron text-center">
					<h1 class="lead">A community sharing input files and resources for computational chemistry.</h1>
					<h3 class="text-center"><%= link_to "Signup", new_user_registration_path, class: 'btn btn-xlarge btn-success navbar-btn', method: :get %> to start contributing to the community!</h3>
				</div>
				<!-- <p class="lead text-center"><button type="button" class="btn btn-lg btn-default">Search</button> for chemistry input files!</p> -->
			<% end %>
		
	</div>
</div>

<div class="row"> 
	<div class="col-md-10 col-md-offset-1">
	       <% @allposts.each do |micropost| %>

	       <div class="panel panel-default">
	       	  <div class="panel-heading">
		         <h3 class="panel-title">
		        	<%= micropost.heading %>
		         </h3>
		     </div>
			         <div class="panel-body ">
			        	<samp><%= simple_format(micropost.content) %></samp>
			         </div>
		     	

		         <div class="panel-footer">
		         	<span class="glyphicon glyphicon-user"></span>
		         		<em><%= micropost.user.username %></em>
		         	<span class= "pull-right" >
		         		<span class="glyphicon glyphicon-calendar"></span>
		         		<%= micropost.user.created_at.strftime("%B %d, %Y") %> 
		         	</span>
		         </div>
		         </div>


	       <% end %>
	    </div>
	</div>
</div>

<div class = "col-md-10 col-md-offset-1 text-center">
<div class="pagination">
		<%= will_paginate @allposts, :page_links => false, renderer: BootstrapPagination::Rails %>
	</div>
</div>


